#order .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    overflow: auto;
    background-color: #f0f0f0;
}
#order .adDiv{
    width:100%;
    margin-bottom: 10px;
}
#order .title{
    height:45px;
    line-height: 45px;
    background: #fff;
}
#order .banner{
    height: 15px;
    width: 5px;
    position: absolute;
    left: 10px;
    top: 15px;
}
#order .title-txt{
    padding-left: 26px;
}
#order .show-div{
    height: 80px;
    padding: 0 0 0 10px;
    position: relative;
    background: #fff;
}
#order .img-img {
    width: 56px;
    position: absolute;
    top: 12px;
}
#order .show-tips {
    width: 100%;
    padding: 16px 80px 10px 70px;
}
#order .show-title {
    font-size: 18px;
    color: #282828;
}
#order .tip-txt {
    color: #999;
    font-size: 12px;
}
#order .show-btn{
 position: absolute;
 right:10px;
 top:22px;
 color: #fff;
}